/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 mar. 2020, 16:14:27
    Author     : Kike
*/

*{
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:border-box;
    box-sizing: border-box;
}
body{
    background: url(img/fondo2.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;/*view height*/
}
.navBar{
    width:auto;
    margin: auto;   
    background: black;
}
.navBar ul{
    list-style: none;

}

.menu>li{
    position:relative;/**/
    display: inline-block;
}

.menu>li>a{
    display:block;/*Elementos bloque*/
    padding: 15px 20px;
    color: #fff;
    font-family: 'Open Sans';
    text-decoration: none;
}

.menu li a:hover{
    color: #CE7D35;
    transition:all .3s;
}

.submenu{
    position:absolute;
    background: #333333;
    width:120%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a{
    display: block;
    padding: 15px;
    color:#fff;
    font-family: 'Open sans';
    text-decoration: none;
}
.menu li:hover .submenu{
    visibility:visible;
    opacity:1;
}

#content{
    font-size: 12px;
    font-family: 'Open Sans';
    width: 1200px;
    height: 500px;
    opacity:0.9;
    background: white;
    color:black;
    top:50%;
    left:50%;
    z-index: 1;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 20px 30px;
    columns: 600px 2;
}
#content input[type="text"]
{
    margin-left: 10px;
    text-align: center;
    background: whitesmoke;
    font-weight: bold;
}

#content input[type="submit"]
{
   width: 50px;
   height: 23px;
}

#content input::-webkit-outer-spin-button,
#content input::-webkit-inner-spin-button
{
    margin-left: 10px;
    text-align: center;
    background: white;
   -webkit-appearance: none; 
}
#content input[type="number"]
{
    margin-left: 10px;
    text-align: center;
    background: white;
    -moz-appearance:textfield;
}
#content label{
    padding:0;
    font-size: 20px;
    
    margin:0;
}
.reveal-if-active {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  font-size: 16px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.reveal-if-active label {
  display: block;
  margin: 0 0 3px 0;
}
.reveal-if-active input[type=text] {
  width: 100%;
}
input[type="radio"]:checked ~ .reveal-if-active, input[type="checkbox"]:checked ~ .reveal-if-active {
  opacity: 1;
  max-height: 100px;
  padding: 10px 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
  overflow: visible;
}

form {
  max-width: 500px;
  margin: 20px auto;
}
form > div {
  margin: 0 0 20px 0;
}
form > div label {
  font-weight: bold;
}
form > div > div {
  padding: 5px;
}

.table
{
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     border-collapse: collapse;
     border: 1px solid #999999
     
}

.table tr:nth-child(even)
{
    background-color: #f2f2f2; 
}
.table tr:hover 
{
    background-color: #ddd;
}

.table
th
{
    padding-right: 30px;
    padding-left: 7px;
}
.table
td
{
    padding-right: 30px;
    padding-left: 7px;
}

.divTras
span
{
    opacity:0.5;   
}