/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15/03/2020, 02:21:12 AM
    Author     : frank
*/
*{
        font-family: Arial;

}
body
{
    margin:0;
    padding:0;
    background: url(img/fondo1.jpg) no-repeat center top;
    background-size: cover;
    height: 100vh;/*view height*/
}
/*#wrapper {
    font-family: sans-serif;
    font-size: 20pt;
}*/

#Encabezado
{
    background: black;
    color:#fff;
    opacity:0.8;
    padding: 10px;
    margin: 0px;
    font-family: Arial;
    font-size: 20px;
}
#Encabezado p{
    margin-bottom:10px;
    margin-top: 10px;
}
/*#Login
{
    float: right;
    background: paleturquoise;
    padding: 5pt;
    font-size: 15pt;
}*/

#content
{
    width:320px;
    height: 420px;
    background: white;
    color:black;
    top:50%;
    left:50%;
    z-index: 1;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
#wrong
{
    width: 300px;
    height:100px;
    background: white;
    color:black;
    top:40%;
    left:24%;
    position:absolute;
    transform:translate(-40%,-40%);
    z-index: 1;
    padding: 10px 30px;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 20px;
    animation-name: esconder;
    animation-duration: 10s;
    background:transparent;
    color:transparent;
    border:transparent;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    /*visibility: hidden;*/
}
@keyframes esconder{
    from{background:white;
         color:black;
         border: 3px solid black;

    }
    to{
        background:transparent;
        color:transparent;
        border:transparent;
       
    }
}


.errorIm{
    width: 25px;
    height: 25px;
    animation-name:fuera;
    animation-duration:3s;
    visibility: hidden;
}
@keyframes fuera{
    from{
        opacity:100;
        visibility:visible;
    }
    to
    {    opacity:0;

         visibility:hidden;
    }
}

#wrong label{
    margin:0;
    padding:0;

}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position:absolute;
    top: -50px;
    left: calc(50% - 50px);
}

#content h1{
    margin:0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

#content label{
    margin:0;
    padding:0;
    font-weight: bold;
}

#content input{
    width: 100%;
    margin-bottom: 20px;
}
#content input[type="text"],
#content input[type="password"]
{
    border:none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}
#content input[type="submit"]
{
    border:none;
    outline:none;
    height:40px;
    background: black;
    color:white;
    font-size: 18px;
    border-radius: 20px;
}
#content input[type="submit"]:hover
{
    font-weight: bold;
}
#content a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:darkgrey;
}
#content a:hover{
    color:black;
}
#formulario .tablaFormulario {
    border: 1px solid darkgray;
    border-collapse: separate;
}

